h1 {
  color: white;
}

body {
  background-color: grey;
}

.keg-form {
  background-color: tan;
  padding: 40px;
  margin-top: 20px;
  border-radius: 30px;
}

.edit-form {
  background-color: green;
  border-radius: 30px;
  padding: 40px;
  margin-top: 20px;

}

.keg-color-default {

}

.pink {
  color: #FF66CC;
  border-radius: 30px;

}

.green {
  color: 	#669966;
  border-radius: 30px;
}

.red {
  color: 	#600000;
  border-radius: 30px;
}
